<button {{action 'locateNearest'}} class='btn btn-primary' disabled={{isSearching}}>
  {{#if isSearching}}
    Searching...
  {{else}}
    Find location
  {{/if}}
</button>
<br>

{{#if hasBlock}}
  {{yield}}
{{else}}
  {{#if courses}}
    Nearby courses
    <ul>
      {{#each courses as |course|}}
        <li>{{course.name}}</li>
      {{/each}}
    </ul>
  {{/if}}
{{/if}}
