<div class='form-group'>
  <label for='search'>{{if searchText searchText 'Search'}}</label>
  {{input value=filter key-up=(action 'autoComplete' filter) class='form-control'}}
</div>

{{#if hasBlock}}
  {{yield}}
{{else}}
  <ul>
    {{#each filteredList as |item|}}
      <li>
        {{link-to item.name modelName item}}
      </li>
    {{/each}}
  </ul>
{{/if}}
