<div class="layout-column">
  <div class="form-input">
    <div class="layout-row">
      {{#if model.course}}
        <div class="flex-90" onClick={{action (mut showCoursesSheet)}}>{{model.course.name}}</div>
        <div class="flex-10">{{#paper-button iconButton=true onClick=(action 'removeCourse')}}{{paper-icon "close"}}{{/paper-button}}</div>
      {{else}}
        <div onClick={{action (mut showCoursesSheet)}}>
          Where are you playing?
        </div>
      {{/if}}
    </div>
  </div>

  <div class="form-input" onClick={{action (mut showFriendsSheet)}}>
    {{#if model.users}}
      {{paper-contact-chips
        readOnly=true
        content=model.users
        imageField='avatarUrl'}}
    {{else}}
      <div>
        Who are you playing with?
      </div>
    {{/if}}
  </div>
</div>

<div class="actions">
  {{#paper-button raised=true primary=true onClick=(action "saveRound")}}Start Round{{/paper-button}}
  {{#paper-link 'rounds.index'}}Cancel{{/paper-link}}

</div>

{{#if showCoursesSheet}}
  {{#paper-dialog class="flex-100" onClose=(action 'closeCoursesDialog' 'cancel') clickOutsideToClose=true fullscreen=true}}
    {{#paper-dialog-content}}
      <h2>Courses</h2>
      {{#paper-tabs selected=courseFilter center=true onChange=(action (mut courseFilter)) as |tabs|}}
        {{#tabs.tab value="nearby"}}
          Near Me
        {{/tabs.tab}}
        {{#tabs.tab value="all"}}
          All
        {{/tabs.tab}}
      {{/paper-tabs}}

      {{#liquid-bind availableCourses class="md-padding" as |courses|}}
        {{#if courses}}
          {{#paper-list}}
            {{#each courses as |course|}}
              {{#paper-item class="md-1-line" onClick=(action 'closeCoursesDialog' (hash action='save' value=course))}}
                {{course.name}}
              {{/paper-item}}
            {{/each}}
          {{/paper-list}}
        {{else}}
          No courses found near you
        {{/if}}
      {{/liquid-bind}}
    {{/paper-dialog-content}}
  {{/paper-dialog}}
{{/if}}

{{#if showFriendsSheet}}
  {{#paper-dialog class="flex-100" onClose=(action 'closeFriendsDialog' 'cancel') clickOutsideToClose=true fullscreen=true}}
    {{#paper-dialog-content}}
      <h2>Friends</h2>
      {{#paper-tabs selected=usersFilter center=true onChange=(action (mut usersFilter)) as |tabs|}}
        {{#tabs.tab value="users"}}
          Friends
        {{/tabs.tab}}
        {{#tabs.tab value="all"}}
          All
        {{/tabs.tab}}
      {{/paper-tabs}}

      {{#liquid-bind availableUsers class="md-padding" as |users|}}
        {{#if users}}
          {{#paper-list}}
            {{#each users as |user|}}
              {{#paper-item class="md-1-line"}}
                <!-- Unsure what this does or how it's used, but could potentially be refactored by user-avatar component  -->
                {{#if (array-contains selectedPlayers user)}}
                  {{#paper-button iconButton=true onClick=(action 'removeUser' user)}}{{paper-icon 'check-box'}}{{/paper-button}}
                {{else}}
                  <img src='http://res.cloudinary.com/frolfr/image/upload/v1450881126/avatar-placeholder_n7w7z8.png' class="md-avatar" onClick={{action 'addUser' user}}>
                {{/if}}
                <div class="md-list-item-text">
                  <h3>{{user.name}}</h3>
                </div>
              {{/paper-item}}
            {{/each}}
          {{/paper-list}}
        {{else}}
          No users found
        {{/if}}
      {{/liquid-bind}}
    {{/paper-dialog-content}}
    {{#paper-dialog-actions class="layout-row"}}
      {{#paper-button onClick=(action "closeFriendsDialog" "cancel")}}Cancel{{/paper-button}}
      {{#paper-button onClick=(action 'closeFriendsDialog' (hash action='save' value=user))}}OK{{/paper-button}}
    {{/paper-dialog-actions}}
  {{/paper-dialog}}
{{/if}}
