{{#link-to 'round' round tagName='div'}}
  {{#paper-card as |card|}}
    {{#card.title as |title|}}
      {{#title.text as |text|}}
        {{#text.headline}}{{round.course.name}}{{/text.headline}}
        {{#text.subhead}}{{moment-format round.createdAt 'MMMM DD, YYYY'}}{{/text.subhead}}
      {{/title.text}}
      {{#title.media size='md'}}
        <div class='score par-status belowPar'>-4</div>
      {{/title.media}}
    {{/card.title}}
    {{#card.content}}
      {{#each round.users as |user|}}
        <img class='avatar' src={{user.avatarSrc}} alt={{user.fullName}} title={{user.fullName}}>
      {{/each}}
    {{/card.content}}
  {{/paper-card}}
{{/link-to}}
