<div class="layout-column">
  <div class="form-input flex-100">
    <div class="layout-row">
      {{#if model.course}}
        <div class="flex-90" onClick={{action (mut showCoursesSheet)}}>{{model.course.name}}</div>
        <div class="flex-10">{{#paper-button iconButton=true onClick=(action 'removeCourse')}}{{paper-icon "close"}}{{/paper-button}}</div>
      {{else}}
        <div onClick={{action (mut showCoursesSheet)}}>
          Where are you playing?
        </div>
      {{/if}}
    </div>
  </div>

  <div class="form-input flex-90" onClick={{action (mut showFriendsSheet)}}>
    <span>
      Who are you playing with?
    </span>
  </div>
</div>

{{#if showCoursesSheet}}
  {{#paper-dialog class="flex-100" onClose=(action 'closeCoursesDialog' 'cancel') clickOutsideToClose=true fullscreen=true}}
    {{#paper-dialog-content}}
      <h2>Courses</h2>
      {{#paper-tabs selected=courseFilter center=true onChange=(action (mut courseFilter)) as |tabs|}}
        {{#tabs.tab value="nearby"}}
          Near Me
        {{/tabs.tab}}
        {{#tabs.tab value="all"}}
          All
        {{/tabs.tab}}
      {{/paper-tabs}}

      {{#liquid-bind availableCourses class="md-padding" as |courses|}}
        {{#if courses}}
          {{#paper-list}}
            {{#each courses as |course|}}
              {{#paper-item class="md-1-line" onClick=(action 'closeCoursesDialog' (hash action='save' value=course))}}
                {{course.name}}
              {{/paper-item}}
            {{/each}}
          {{/paper-list}}
        {{else}}
          No courses found near you
        {{/if}}
      {{/liquid-bind}}
    {{/paper-dialog-content}}
  {{/paper-dialog}}
{{/if}}

{{#if showFriendsSheet}}
   {{#paper-dialog class="flex-100" onClose=(action 'closeFriendsDialog' 'cancel') clickOutsideToClose=true fullscreen=true}}
    {{#paper-dialog-content}}
      {{#paper-list}}
        {{#paper-item class="md-2-line"}}
          <img src='http://res.cloudinary.com/frolfr/image/upload/v1450881126/avatar-placeholder_n7w7z8.png' class="md-avatar">
          <div class="md-list-item-text">
            <h3>John Doe</h3>
          </div>
        {{/paper-item}}
      {{/paper-list}}
    {{/paper-dialog-content}}
    {{#paper-dialog-actions class="layout-row"}}
      {{#paper-button onClick=(action "closeFriendsDialog" "cancel")}}Cancel{{/paper-button}}
      {{#paper-button onClick=(action "closeFriendsDialog" "save")}}OK{{/paper-button}}
    {{/paper-dialog-actions}}
  {{/paper-dialog}}
{{/if}}
{{!-- {{#if model.users}}
  Selected users
  {{#paper-chips
    content=model.users
    readOnly=readOnly
    removeItem=(action 'removeUser') as |user|}}
    {{user.name}}
  {{/paper-chips}}
{{/if}}

{{#filterable-resource
  filter=userFilter
  filteredList=searchedUsers
  modelName='user'
  searchText='Search for Players'}}
  <ul>
    {{#each availableUsers as |user|}}
      <li><a {{action 'addUser' user}}>{{user.name}}</a></li>
    {{/each}}
  </ul>
{{/filterable-resource}}

{{#if model.course}}
  Selected course: {{model.course.name}} | <a {{action 'removeCourse'}}>Remove</a>
{{else}}
  {{#filterable-resource
    filteredList=searchedCourses
    modelName='course'
    searchText='Search for Courses'}}
    <ul>
      {{#each searchedCourses as |course|}}
        <li><a {{action 'addCourse' course}}>{{course.name}}</a></li>
      {{/each}}
    </ul>
  {{/filterable-resource}}

  {{#course-locator
    courses=locatedCourses}}
    <ul>
      {{#each locatedCourses as |course|}}
        <li><a {{action 'addCourse' course}}>{{course.name}}</a></li>
      {{/each}}
    </ul>
  {{/course-locator}}
{{/if}}

<hr>

{{#paper-button onClick=(action 'save') raised=true primary=true class='btn-block'}}Start Round{{/paper-button}} --}}
