{{#if model.users}}
  Selected users
  {{#paper-chips
    content=model.users
    readOnly=readOnly
    removeItem=(action 'removeUser') as |user|}}
    {{user.name}}
  {{/paper-chips}}
{{/if}}

{{#filterable-resource
  filter=userFilter
  filteredList=searchedUsers
  modelName='user'
  searchText='Search for Players'}}
  <ul>
    {{#each availableUsers as |user|}}
      <li><a {{action 'addUser' user}}>{{user.name}}</a></li>
    {{/each}}
  </ul>
{{/filterable-resource}}

{{#if model.course}}
  Selected course: {{model.course.name}} | <a {{action 'removeCourse'}}>Remove</a>
{{else}}
  {{#filterable-resource
    filteredList=searchedCourses
    modelName='course'
    searchText='Search for Courses'}}
    <ul>
      {{#each searchedCourses as |course|}}
        <li><a {{action 'addCourse' course}}>{{course.name}}</a></li>
      {{/each}}
    </ul>
  {{/filterable-resource}}

  {{#course-locator
    courses=locatedCourses}}
    <ul>
      {{#each locatedCourses as |course|}}
        <li><a {{action 'addCourse' course}}>{{course.name}}</a></li>
      {{/each}}
    </ul>
  {{/course-locator}}
{{/if}}

<hr>

{{#paper-button onClick=(action 'save') raised=true primary=true class='btn-block'}}Start Round{{/paper-button}}
