{{#if model.users}}
  Selected users:
  <ul>
    {{#each model.users as |user|}}
      <li>{{user.name}} | <a {{action 'removeUser' user}}>Remove</a></li>
    {{/each}}
  </ul>
{{/if}}

Search for players
{{#filterable-resource
  filter=userFilter
  filteredList=searchedUsers
  modelName='user'}}
  <ul>
    {{#each availableUsers as |user|}}
      <li><a {{action 'addUser' user}}>{{user.name}}</a></li>
    {{/each}}
  </ul>
{{/filterable-resource}}

<hr>

{{#if model.course}}
  Selected course: {{model.course.name}} | <a {{action 'removeCourse'}}>Remove</a>
{{else}}
  Search for courses
  {{#filterable-resource
    filteredList=searchedCourses
    modelName='course'}}
    <ul>
      {{#each searchedCourses as |course|}}
        <li><a {{action 'addCourse' course}}>{{course.name}}</a></li>
      {{/each}}
    </ul>
  {{/filterable-resource}}

  {{#course-locator
    courses=locatedCourses}}
    <ul>
      {{#each locatedCourses as |course|}}
        <li><a {{action 'addCourse' course}}>{{course.name}}</a></li>
      {{/each}}
    </ul>
  {{/course-locator}}
{{/if}}
