<table class='table table-striped scorecards-table'>
  <thead>
    <tr>
      <th></th>
      {{#each scorecards as |scorecard|}}
        <th>
          {{#if scorecard.user.avatarSrc}}
            <img class='media-object' class='avatar' src={{scorecard.user.avatarSrc}}>
          {{else}}
            <img class='media-object' class='avatar' src='http://res.cloudinary.com/frolfr/image/upload/v1450881126/avatar-placeholder_n7w7z8.png'>
          {{/if}}
          <br>
          {{scorecard.user.initials}}
        </th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each holeNumbers as |holeNumber|}}
      <tr>
        {{#link-to 'round.turns' round holeNumber tagName='th'}}
          {{holeNumber}}
        {{/link-to}}
        {{#each scorecards as |scorecard|}}
          {{scorecard-turn holeNumber=holeNumber scorecard=scorecard tagName='td'}}
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
  <tfoot>
    <tr>
      <th>+ / -</th>
      {{#each scorecards as |scorecard|}}
        <td>{{scorecard.score}}</td>
      {{/each}}
    </tr>
    <tr>
      <th>T</th>
      {{#each scorecards as |scorecard|}}
        <td>{{scorecard.total}}</td>
      {{/each}}
    </tr>
  </tfoot>
</table>
