<div class='layout-row'>
  <header class='hole-number-header'>
    <span><img src='https://res.cloudinary.com/frolfr/image/upload/v1499194556/imageedit_2_2404369998_tzf2on.png' alt='Hole #' width='30' height='30' /></span>
    <h2>{{holeNumber}}</h2>
  </header>

  <span class='flex'></span>

  <div class='par-header'>
    {{#paper-select
      label='Par'
      options=parOptions
      selected=par
      onChange=(action (mut par))
      as |par|}}
      {{par}}
    {{/paper-select}}
  </div>
</div>

{{#paper-list}}
  {{#each turns as |turn|}}
    {{turn-form
      turn=turn
      turns=turns}}
  {{/each}}
{{/paper-list}}

{{#paper-toolbar as |toolbar|}}
  {{#toolbar.tools}}
    {{#link-to 'round.turns' round previousHoleNumber}}
      {{#paper-button disabled=(not previousHoleNumber)}}
        {{paper-icon 'arrow back'}}
      {{/paper-button}}
    {{/link-to}}

    <span class='flex'></span>

    {{#link-to 'round' round}}
      {{#paper-button}}{{paper-icon 'grid on'}}{{/paper-button}}
    {{/link-to}}

    <span class='flex'></span>

    {{#link-to 'round.turns' round nextHoleNumber}}
      {{#paper-button disabled=(not nextHoleNumber)}}
        {{paper-icon 'arrow forward'}}
      {{/paper-button}}
    {{/link-to}}
  {{/toolbar.tools}}
{{/paper-toolbar}}
