<div class='row'>
  <div class='col-xs-6'>
    <img src='http://res.cloudinary.com/frolfr/image/upload/v1499194556/imageedit_2_2404369998_tzf2on.png' alt='Hole #' width='50' height='50' class='pull-left' />
    <h2 class='pull-left'>
      {{holeNumber}}
    </h2>
  </div>
  <div class='col-xs-6'>
    <div class='pull-right'>
      <a {{action 'savePar' 3}} class='btn btn-primary {{if (eq par 3) 'disabled'}}'>3</a>
      <a {{action 'savePar' 4}} class='btn btn-primary {{if (eq par 4) 'disabled'}}'>4</a>
      <a {{action 'savePar' 5}} class='btn btn-primary {{if (eq par 5) 'disabled'}}'>5</a>
    </div>
  </div>
</div>


{{#each turns as |turn|}}
  {{turn-form
    edit=(action 'edit')
    editId=editId
    turn=turn
    turns=turns}}
{{/each}}

<div class='row'>
  <div class='col-xs-4'>
    {{#if previousHoleNumber}}
      {{#link-to 'round.turns' round previousHoleNumber class='btn btn-block'}}
        <span class='glyphicon glyphicon-chevron-left'></span>
      {{/link-to}}
    {{/if}}
  </div>
  <div class='col-xs-4'>
    {{link-to 'Summary' 'round' round class='btn btn-primary btn-block'}}
  </div>
  <div class='col-xs-4'>
    {{#if nextHoleNumber}}
      {{#link-to 'round.turns' round nextHoleNumber class='btn btn-block'}}
        <span class='glyphicon glyphicon-chevron-right'></span>
      {{/link-to}}
    {{/if}}
  </div>
</div>
