<h2>Rounds</h2>

{{#each model as |round|}}
  {{round-resource round=round}}
{{/each}}

{{#each-in model.meta.pagination as |key value|}}
  {{link-to key 'rounds' (query-params page=value.number) classNames='btn btn-primary'}}
{{/each-in}}

<!-- {{#each count as |number|}}
  {{#if (eq number model.meta.pagination.self.number)}}
    {{ number }}
  {{else}}
    {{link-to number 'rounds' (query-params page=number)}}
  {{/if}}
{{/each}} -->
