{{#paper-toolbar class='primary-dark'}}
  {{#paper-toolbar-tools}}
    <h2>Frolfr</h2>
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}

{{#paper-content class='padding-bottom--xl'}}
  {{liquid-outlet class='md-padding'}}
  <div class='nav-fab'>
    {{#link-to 'rounds.new'}}
      {{#paper-button fab=true classNames='accent'}}{{paper-icon 'add' size='36'}}{{/paper-button}}
    {{/link-to}}
  </div>
{{/paper-content}}

{{#bottom-nav}}
  {{bottom-nav-item targetRoute='rounds.index' icon="golf-course" text="Rounds"}}
  {{bottom-nav-item targetRoute='friends.index' icon="people" text="Friends"}}
  {{bottom-nav-item targetRoute='users.index' icon="person-outline" text="Profile"}}
{{/bottom-nav}}
