{{#paper-toolbar class='primary-dark'}}
  {{#paper-toolbar-tools}}
    <h2>Frolfr</h2>
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}

{{#paper-content class='padding-bottom--xl'}}
  {{liquid-outlet class='md-padding'}}
  <div class='nav-fab'>
    {{#link-to 'rounds.new'}}
      {{#paper-button fab=true classNames='accent'}}{{paper-icon 'add' size='36'}}{{/paper-button}}
    {{/link-to}}
  </div>
{{/paper-content}}

{{#bottom-nav}}
  {{#link-to 'rounds.index' tagName='div' classNames="footer-link layout-column flex layout-align-center-center"}}
    {{paper-icon "golf-course" size="24"}}
    <span>Rounds</span>
  {{/link-to}}
  {{#link-to 'friends.index' tagName='div' classNames="footer-link layout-column flex layout-align-center-center"}}
    {{paper-icon "people" size="24"}}
    <span>Friends</span>
  {{/link-to}}
  {{#link-to 'users.index' tagName='div' classNames="footer-link layout-column flex layout-align-center-center"}}
    {{paper-icon "person-outline" size="24"}}
    <span>Profile</span>
  {{/link-to}}
{{/bottom-nav}}
