<h1>{{model.name}} - {{model.city}}, {{model.state}}</h1>

{{#each model.rounds as |round|}}
  <li>
    {{#link-to 'round' round}}
      {{round.createdAt}} {{round.id}}
      <ul>
        {{#each round.scorecards as |scorecard|}}
          <li>
            {{scorecard.user.firstName}} {{scorecard.user.lastName}}
          </li>
        {{/each}}
      </ul>
    {{/link-to}}
  </li>
{{/each}}
